In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
df = pd.read_csv("test_scores.csv")
df.head(3)

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81

In [ ]:
def gradient_descent(x,y):
    m_curr = 0
    b_curr = 0
    iterations = 1000
    n = len(x)
    learning_rate = 0.001
    
    cost_previous = 0